@charset "UTF-8";
*
    {
        box-sizing: border-box;
        font-family: Nanum Gothic;
    }
    
    
    
    #contnentTitle
    {
        line-height:120px;
        font-size: 2vmin;
        font-weight:bolder;
    }
    
    
    /*content2 영역 안*/
    #serchArea
    {
       
        width: 90%;
        height: 8vh;
    }   
    
    #emptyArea
    {
        width: 90%;
        height: 3vh;
    }
    #contentArea
    {
        width: 90%;
        height: 57vh;
    }
    
    
    /*검색바*/
    #keyWordSerch
    {
        height: 30px;
        background-color: white;
        color: #0C883F;
        border-color: #0C883F;
        border-bottom-color: #0C883F;    
    }
    #serchArea *
    {
       position: relative;
        bottom:-12px;
    }
    #serchSelect
    {
        position: relative;
        bottom:-13px;
        font-size: 2.1vmin;
    }
    #serchKeyword
    {
        position: relative;
        bottom:-13px;
    }
    .btn-sm
    {
      font-size: 1.8vmin;
    }
    
    /*Table */
    
    table
    {
        width: 100%;
        font-size: 1.8vmin;
        text-align: center;
        border-top: 2px solid #5D9A71;
        border-bottom: 2px solid #5D9A71;
        border-spacing: 0px;
        margin-top: 5px;
        line-height: 25px;
        table-layout: fixed;
        
    }
    
    tbody>tr:first-child>td
    {
        border-top: 1px solid #858585;
    }
    tbody>tr>td
    {
        border-top:1px solid #DFDFDF;
        overflow: hidden;
    }
    
    /*<th>,><td> 간격 조정*/
    .noticeNo
    {
        position: relative;
        right:80px;
    }

    .subject
    {
        position: relative;
        left:20px;
        text-overflow: ellipsis; white-space: nowrap; max-width: 80px;
    }
    
    .noticeTitle
    {
       cursor:pointer;
    }
    .noticeTitle:hover
    {
        color: gray;
    }
    
    .writeDate
    {
        position: relative;
        left:50px;
    }
    