@charset "UTF-8";

.bg-color {
	width: 100%;
	height: 100vh;
	background-color: #F2F2F2;
	display: flex;
    align-items: center;
}
.box-white {
	margin: 0 auto;
	width: 400px;
	height: 300px;
	background-color: white;
	border-radius: 20px;
	padding: 40px;
	margin-top: 100px;
}

.title {
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 28px;
	text-align: center;
}
.text-Info {
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 18px;
	margin-bottom: 20px;
	color: #2A2A2A;
	text-align: center;
}

.find-Success {
	width: 100%;
	height: 70px;
}
.btn-submit {
	width: 100%;
    height: 55px;
    background-color: #5EB656;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 40px;
    margin-bottom: 20px;
}
.btn-submit>a {
	font-family: 'Nanum Gothic', sans-serif;
    font-size: 16px;
    color: white;
}
.id-Info {
	border: 0.5px solid #CECECE;
	height: 80px;
	width: 90%;
	margin: 0 auto;
}
.id-Info-text {
	text-align: center;
	margin-top: 30px;
}