@charset "UTF-8";
#content{
	width: 100%;
	margin: 0 auto;
}
.main {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	position: relative;
}
.main-img {
	width: 100%;
}
.main-img>img {
	width: 110%;
	object-fit: cover;
	object-position: 0 170px;
}
.main-text {
	position: absolute;
	top: 40%;
	left: 5%;
	font-family: 'NanumSquare';
	font-size: 3.5vmin;
	font-weight: bold;
	line-height: 1.4;
}

.info {
	width: 72%;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
	margin-top: 80px;
}
.farm {
	width: 45%;
	height: 40vw;
	float: left;
	border-radius: 20px;
	box-shadow: 3px 3px 10px #AEAEAE;
	margin-left: 10px;
}
.farm-askarea {
	width: 100%;
	height: 15%;
}
.farm-imgarea {
	width: 75%;
	height: 65%;
	margin: 0px auto;
}
 .farm-textarea {
 	width: 100%;
 	height: 20%;
 }
.farm-imgarea>img {
	width: 100%;
	object-fit: cover;
 }
 .farm-asktext {
 	font-family: 'NanumSquare';
	font-size: 3vmin;
	font-weight: bold;
	text-align: center;
	padding-top: 40px;
 }
 .farm-text {
  	font-family: 'NanumSquare';
	font-size: 2.5vmin;
	font-weight: bold;
	text-align: center;
	line-height: 1.7;
 }


.user {
	width: 45%;
	height: 40vw;
	float: right;
	border-radius: 20px;
	box-shadow: 3px 3px 10px #AEAEAE;
	margin-right: 10px;
}
.user-askarea {
	width: 100%;
	height: 15%;
}
.user-imgarea {
	width: 75%;
	height: 65%;
	margin: 0px auto;
}
 .user-textarea {
 	width: 100%;
 	height: 20%;
 }
.user-imgarea>img {
	width: 100%;
	object-fit: cover;
 }
 .user-asktext {
 	font-family: 'NanumSquare';
	font-size: 3vmin;
	font-weight: bold;
	text-align: center;
	padding-top: 40px;
 }
 .user-text {
  	font-family: 'NanumSquare';
	font-size: 2.5vmin;
	font-weight: bold;
	text-align: center;
	line-height: 1.7;
 }
 .promotion-area {
 	width: 100%;
 	height: 100px;
 	margin-top: 50px;
 	margin-bottom: 50px;
 	float: left;
 	text-align: center;
 }
 .promotion-btn {
	width: 400px;
    height: 80px;
    border: 0;
    border-radius: 20px;
    background-color: #3BBD5A;
    cursor: pointer;
    display: inline-block;
 }
.promotion-btn>a {
	color: #FFFFFF;
	font-family: 'NanumSquare';
	font-size: 20px;
}
 

.main2 {
	width: 100%;
	height: 82vh;
	overflow: hidden;
	position: relative;
}
.main2-img {
	width: 100%;
}
.main2-img>img {
	width: 100%;
	object-fit: cover;
}
.main2-text {
	position: absolute;
	bottom: 20%;
	right: 15%;
	font-family: 'NanumSquare';
	font-size: 3vmin;
	font-weight: bold;
	line-height: 1.4;
}
.main2-text>p {
	text-align: right;
}
.auction-area {
	position: absolute;
	bottom: 11%;
	right: 15%;
}
 .auction-btn {
	width: 170px;
    height: 60px;
    border: 0;
    border-radius: 20px;
    background-color: #3BBD5A;
    cursor: pointer;
    display: inline-block;
 }
 .auction-btn>a {
	color: #FFFFFF;
	font-family: 'NanumSquare';
	font-size: 20px;
}