@charset "UTF-8";
#content {
	width: 100%;
	height: 110vh;
}
.background {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.box-color {
	margin: 200px auto;
	width: 58vw;
	height: 50vh;
	background-color: white;
	border-radius: 20px;
	padding: 40px;
	margin-top: 300px;
	box-shadow: 3px 3px 10px #aeaeae;
}
.title {
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 28px;
	font-weight: bold;
	text-align: center;
	color: #3BBD5A;
}
.btn-submit {
	width: 10%;
    height: 3.5vh;
    background-color: #3BBD5A;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1.2vmin;
    border: none;
    border-radius: 18px;
    cursor: pointer;
    float: right;
    margin-right: 10px;
}
.btn-submit:hover {
	background-color: #198754;
	transition:all ease 0.2s;
}
.btn-submit>a {
   color: white;
}
.mypage-main {
	width: 100%;
	height: 15%;
}
.mypage-sub {
	width: 100%;
	height: 85%;
}
.mypage-sub-list {
	height: 25%;
	border-top: 0.5px solid #ABABAB; 
}
.main-text {
	font-family: 'Nanum Gothic', sans-serif;
    font-size: 2vmin;
    font-weight: bold;
    padding: 10px;
    color: #2A2A2A;
}
.sub-text {
	font-family: 'Nanum Gothic', sans-serif;
    font-size: 1.6vmin;
    padding-left: 15px;
    color: #2A2A2A;
}