@charset "UTF-8";

#header {
    width: 100%;
    height: 170px;
    background-color: white;
    position: fixed;
    top:0;
    z-index: 999;
}

.logo {
    width: 40%;
    height: 70%;
    float: left;
    text-align: center;
}
.logo>a>img {
	height: 35px;
	margin-top: 40px;
}

#nav {
    width: 100%;
    height: 30%;
    float: left; 	
}
.gnb-list {
	margin: 0 auto;
	width: 35%;
	height: 120px;
}
.gnb-list>li {
	width: 25%;
	height: 50px;
	float: left;
	
}
.gnb-list>li>a {
	display: block;
	width: 100%;
	height: 100%;
	line-height: 50px;
	text-align: center;
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 18px;
	color: #3BBD5A;
	font-weight : bold;
}
.gnb-list>li>a:hover {
	color: #248B00;
}
.lnb-list {
	width: 100%;
	height: 140px;
	display:none;
	background-color: white;
}

.lnb-list>li {
	width: 100%;
	height: 60px;
	text-align: center;
	line-height: 60px;
}
.gnb-list>li:hover {
	border-bottom: 3px solid #5EB656;
}
.gnb-list>li:hover>.lnb-list{
	display:block;
}

.lnb-list>li:first-child {
	padding-top: 15px;
}
.lnb-list>li>a {
	display: block;
	width: 100%;
	height: 100%;
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 16px;
	color: #3BBD5A;
	font-weight : bold;
}
.lnb-list>li>a:hover {
	color: #248B00;
}

/*.link_user*/
.link-user {
    width: 30%;
    height: 70%;
    float: left;
}
.box-join {
	width: 100%;
	height: 70%;
	line-height: 120px;
	text-align: center;
	padding-left: 100px;
}
.box-join>a {
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 16px;
	color: #3BBD5A;
}
.box-join>a:first-child {
	margin-right: 30px;
}

.box-user {
	width: 100%;
	height: 70%;
	line-height: 120px;
	text-align: center;
}
.box-user>a {
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 16px;
	color: #3BBD5A;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input {
	box-sizing: border-box;
}