<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<!-- 별칭 등록 -->
	<typeAliases>
		<typeAlias type="com.hot.shop.admin.model.vo.Auction" alias="auction"/>
		<typeAlias type="com.hot.shop.admin.model.vo.BID" alias="bid"/>
		<typeAlias type="com.hot.shop.admin.model.vo.SellForm" alias="sellForm"/>
		<typeAlias type="com.hot.shop.member.model.vo.Member" alias="member"/>
		<typeAlias type="com.hot.shop.farm.model.vo.Farm" alias="farm"/>
		<typeAlias type="com.hot.shop.admin.model.vo.Count" alias="count"/>
	</typeAliases>
</configuration>
