@charset "UTF-8";

* {
	box-sizing: border-box;
}
a {
	color:inherit;
	text-decoration: none;
}

body {
	margin: 0px;
}

#bodyWrap {
	background-color: #48bb78;
	width:100%;
	height:92vh;
}
/* header CSS */
#header {
	width: 100%;
	height: 8vh;
	background-color:#48bb78;
}

/*header 아이콘 영역*/
#headerDiv1 {
	width: 10%;
	height: 100%;
	float: left;
	padding-top: 1vh;
	padding-bottom: 1vh;
    }
#headerDiv2 {
	width: 80%;
	height: 100%;
	float: left;
    }
#headerDiv3 {
	width: 10%;
	height: 100%;
	float: left;
	padding:1.7vmin;
    }
/*홈  아이콘 위치*/
#homeIcon {
	width:5vmin;
	height:5vmin;
	transition: all ease 0.5s;
}
#homeIcon:hover {
	transform:scale(1.2,1.2);
}
    
/* logTitle CSS */
#logoTitlePtag {
	letter-spacing: 3px;
	text-align: center;
	font-weight: bold;
	color: white;
	font-size: 2vmin;
	line-height:280%;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	height:100%;
	width:80%;
	margin:0 auto;
	transition:all ease 0.5s;
	cursor:pointer;
}
#logoTitlePtag:hover{
	transform:scale(1.1,1.1);
}


/* sideBar CSS */
#sideBar {
	width: 10%;
	height: 92vh;
	background-color:#48bb78;
	float: left;
}

/*사이드바 상단 랩 */
#sideWrap1 {
	width: 100%;
	height: 10%;
}
/* 사이드바 메뉴 랩 */
#sideWrap2 {
	width: 100%;
	height: 70%;
}
/* 사이드바 하단 랩 */
#sideWrap3 {
	width: 100%;
	height: 20%;
}

/* 사이드바 메인 UL */
#mainUl {
	list-style: none;
	margin: 0px;
	padding: 0px;
	font-size: 1.1vw;
	padding-top: 0.5vw; 
	padding-left: 0.5vw;
}

#mainUl>li {
	width: 100%;
	height: 35px;
	text-align: left;
	padding-left:1vw;
	line-height: 35px;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	margin: 10px 0px;
	color:white;
	transition:all ease 0.5s;
}
#mainUl>li:hover {
	background-color: #34734e;
	font-weight: bolder;
	transform:scale(1.1,1.1);
}

#mainUl>li>a{
	display:block;
	text-decoration: none;
	color:inherit;
}

#mainContents {
	width: 90%;
	height: 92vh;
	background-color: white;
	float: left;
	border-top-left-radius: 1vw;
	padding: 10px;
}
